.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.formWrapper {
  padding: 32px;
  width: 450px;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 0 0 ;
}

.brand h2 {
  text-align: center;
  font-size: 24px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 32px;
  border-radius: 12px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.field input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #dcdfe4;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}


.passwordToggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background: transparent;
  color: #6b7280;
  cursor: pointer;
}

.passwordToggle:hover {
  color: #111827;
}

.forgotPassword{
  text-align: end;
  font-size: 14px;
  color: #0099FF
}

.forgotPassword:hover {
  color: blue;
  text-decoration: underline;
}

.login {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #dcdfe4;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
  background-color: #0099FF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px
}

.login:hover {
  background-color: blue;
  cursor: pointer;
}

.spinner {
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .divider {
  display: flex;
  align-items: center; 
  text-align: center;
  color: #888;
  font-family: Arial, sans-serif;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1; 
  border-bottom: 1px solid #ccc; 
}

.divider::before {
  margin-right: 15px;
}

.divider::after {
  margin-left: 15px;
} */

.register{
  text-align: end;
  font-size: 14px;
  color: #0099FF
}

.register:hover {
  color: blue;
  text-decoration: underline;
}

.backHome {
  text-align: center;
  font-size: 14px;
  color: #bbb;
  text-decoration: underline;
}

.footer {
  width: 450px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);;
}

.footer p {
  text-align: center;
  color: #707070;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}